*{
    border: none;
}

h1{
    color: #fff;
}

.bar-search{
    background-color: #2d2f33;
    color: #fff;
    border: none;
}

.task{
    text-align:center
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}
.centro{
   display:inline-block
}

.topic{
    margin-left: 0;
}

.card-color{
    background-color: #2d2f33;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card{
    background-color: #222528;
    margin-right: 15px;
    margin-top: 0;
    flex-wrap: wrap;
    display: block;
}

.green{
    color: greenyellow;
    background-color: #222528;
}

.yellow{
    color: yellow;
    background-color: #222528;
}

.badge{
    margin-right: 3px;
}

.bar-top{
    display: block;
}

.points{
    float: right;
}

.bar-second{
    margin-top: 30px;
}

.date{
    float: right;
    background-color: #222528;
    color: #fff;
    padding: 10px;
}

.bar-three{
    margin-top: 30px;
}

.bar-bottom{
    margin-top: 30px;
}

.imgRedonda {
    width:50px;
    height:50px;
    border-radius:150px;
}

.info{
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.info-option{
    margin-right: 15px;
}