<div class="card">
    <div class="card-body">
        <input class="form-control bar-search" type="search" placeholder="Search" aria-label="Search"><br>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Working (3)</h5>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In Progress (3)</h5>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Completed (3)</h5>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-body card-color">
                    <div class="badge text-wrap green" style="width: 6rem;">
                        IOS APP
                      </div>
                      <div class="badge text-wrap yellow" style="width: 6rem;">
                        ANDROID
                      </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>



        </div>
    </div>
</div>